# Auto detect text files and perform LF normalization
* text=auto
/Users/kylekim/Desktop/For[[:space:]]ToxSci[[:space:]]submission/For[[:space:]]ToxSci[[:space:]]supp/Untargeted_metabolomics_boxplots.zip filter=lfs diff=lfs merge=lfs -text
